@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-y: scroll;
}

@keyframes palpitar {
    from {
        background-size: 100% 100%;
        opacity: 0.85;
    }

    to {
        background-size: 120% 120%;
        opacity: 1;
    }
}

#aviso {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    #aviso {
        display: flex;
    }
}

.aviso-contenido {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    background: radial-gradient(circle, rgba(0, 119, 255, 0.164) 1%, rgb(0, 0, 0) 60%);
    animation: palpitar 2s ease-in-out infinite alternate;
}

body {
    background-color: #000;
    font-family: 'JetBrains Mono', monospace;
    color: #fff;

}

.titulo {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(0, 119, 255, 0.164) 1%, rgb(0, 0, 0) 60%);
    padding-inline: 20px;
    padding-block: 20px;
    height: 100vh;
    margin-bottom: 30px;
    scroll-snap-align: start;
    animation: palpitar 2s ease-in-out infinite alternate;
    background-position: center;
}

.titulo h1 {
    font-size: 70px;
    background: linear-gradient(45deg, #003cff, #54ffff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0 0 50px #0037ff;

}

.titulo p {
    font-size: 20px;
}


.yo {
    text-align: left;
    padding-inline: 70px;
    padding-block: 20px;
    height: 100vh;
    background: radial-gradient(circle, rgba(0, 119, 255, 0.164) 1%, rgb(0, 0, 0) 60%);
    margin-bottom: 30px;
    position: relative;
    scroll-snap-align: start;
    animation: palpitar 2s ease-in-out infinite alternate;
    background-position: center;
}

.yo h1 {
    font-size: 60px;
    background: linear-gradient(270deg, #003cff, #54ffff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0 0 50px #0037ff;
}

.descripcion {
    width: 30%;
    font-size: 20px;
    line-height: 3;
}

.skills {
    text-align: center;
    position: absolute;
    top: 10px;
    right: 100px;
    width: 40%;
}

.skills h2 {
    font-size: 60px;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #003cff, #54ffff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0 0 50px #0037ff;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-top: 70px;

}

.lista li {
    color: #ffffff;
    border: 1px solid #0077ff;
    padding: 15px 30px;
    border-radius: 15px;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 0 0 10px #0077ff, inset 0 0 5px #0077ff;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-top: 10px;
    background: linear-gradient(270deg, rgba(0, 119, 255, 0.164) 1%, rgba(0, 0, 0, 0.427) 100%);
    backdrop-filter: blur(5px)
}

.lista li:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 80px #278cff, inset 0 0 5px #278cff;
    border: 1px solid #278cff;
    background: linear-gradient(270deg, rgba(39, 140, 255, 0.164) 1%, rgba(0, 0, 0, 0.427) 100%);
}

.certificados h1 {
    font-size: 60px;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #003cff, #54ffff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0 0 50px #0037ff;
}

.certificados {
    text-align: center;
    padding-inline: 200px;
    padding-block: 20px;
    height: 100vh;
    background: radial-gradient(circle, rgba(0, 119, 255, 0.164) 1%, rgb(0, 0, 0) 60%);
    margin-bottom: 30px;
    scroll-snap-align: start;
    animation: palpitar 2s ease-in-out infinite alternate;
    background-position: center;
}

.certificados-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    list-style: none;
    margin-top: 70px;
}

.certificados-lista li {
    color: #ffffff;
    border: 1px solid #0077ff;
    padding: 15px 30px;
    border-radius: 15px;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 0 0 10px #0077ff, inset 0 0 5px #0077ff;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-top: 10px;
    background: linear-gradient(270deg, rgba(0, 119, 255, 0.164) 1%, rgba(0, 0, 0, 0.427) 100%);
    backdrop-filter: blur(5px)
}

.certificados-lista li:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 100px #278cff, inset 0 0 5px #278cff;
    border: 1px solid #278cff;
    background: linear-gradient(270deg, rgba(39, 140, 255, 0.164) 1%, rgba(0, 0, 0, 0.427) 100%);
}

.proyectos {
    text-align: center;
    background: radial-gradient(circle, rgba(0, 119, 255, 0.164) 1%, rgb(0, 0, 0) 60%);
    padding-inline: 20px;
    padding-block: 20px;
    height: 100vh;
    margin-bottom: 30px;
    scroll-snap-align: start;
    animation: palpitar 2s ease-in-out infinite alternate;
    background-position: center;
}

.proyectos h1 {
    font-size: 60px;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #003cff, #54ffff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0 0 50px #0037ff;
}

.proyectos p {
    font-size: 20px;
}

.proyectos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    align-items: stretch;
}

.proyectos-lista h2 {
    font-size: 40px;
}

.proyectos-lista p {
    font-size: 20px;
}

.proyectos-lista a {
    color: #0077ff;
    text-decoration: none;
}

.proyecto1 {
    background-color: #191919;
    padding: 10px;
    border-radius: 20px;
    max-width: 300px;
    box-shadow: 0 0 10px #0077ff, inset 0 0 5px #0077ff;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-top: 10px;
    background: linear-gradient(270deg, rgba(0, 119, 255, 0.164) 1%, rgba(0, 0, 0, 0.427) 100%);
    backdrop-filter: blur(5px)
}

.proyectos-lista img {
    width: 100%;
    border-radius: 20px;
}

.proyecto1:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 80px #278cff, inset 0 0 5px #278cff;
    border: 1px solid #278cff;
    background: linear-gradient(270deg, rgba(39, 140, 255, 0.164) 1%, rgba(0, 0, 0, 0.427) 100%);
}

.proyecto2 {
    background-color: #191919;
    padding: 10px;
    border-radius: 20px;
    max-width: 300px;
    box-shadow: 0 0 10px #0077ff, inset 0 0 5px #0077ff;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-top: 10px;
    background: linear-gradient(270deg, rgba(0, 119, 255, 0.164) 1%, rgba(0, 0, 0, 0.427) 100%);
    backdrop-filter: blur(5px)
}

.proyecto2:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 80px #278cff, inset 0 0 5px #278cff;
    border: 1px solid #278cff;
    background: linear-gradient(270deg, rgba(39, 140, 255, 0.164) 1%, rgba(0, 0, 0, 0.427) 100%);
}

.proyecto3 {
    background-color: #191919;
    padding: 10px;
    border-radius: 20px;
    max-width: 300px;
    box-shadow: 0 0 10px #0077ff, inset 0 0 5px #0077ff;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-top: 10px;
    background: linear-gradient(270deg, rgba(0, 119, 255, 0.164) 1%, rgba(0, 0, 0, 0.427) 100%);
    backdrop-filter: blur(5px)
}

.proyecto3:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 80px #278cff, inset 0 0 5px #278cff;
    border: 1px solid #278cff;
    background: linear-gradient(270deg, rgba(39, 140, 255, 0.164) 1%, rgba(0, 0, 0, 0.427) 100%);
}

.contacto {
    text-align: center;
    padding-inline: 20px;
    padding-block: 20px;
    height: 100vh;
    background: radial-gradient(circle, rgba(0, 119, 255, 0.164) 1%, rgb(0, 0, 0) 60%);
    margin-bottom: 30px;
    scroll-snap-align: start;
    animation: palpitar 2s ease-in-out infinite alternate;
    background-position: center;
}

.contacto h1 {
    font-size: 60px;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #003cff, #54ffff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0 0 50px #0037ff;
}

.contacto a {
    color: #ffffff;
    text-decoration: none;
}

.contacto-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    list-style: none;
    margin-top: 70px;
}

.contacto-lista li {
    color: #ffffff;
    border: 1px solid #0077ff;
    padding: 15px 30px;
    border-radius: 15px;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 0 0 10px #0077ff, inset 0 0 5px #0077ff;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-top: 10px;
    background: linear-gradient(270deg, rgba(0, 119, 255, 0.164) 1%, rgba(0, 0, 0, 0.427) 100%);
    backdrop-filter: blur(5px)
}

.contacto-lista li:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 80px #278cff, inset 0 0 5px #278cff;
    border: 1px solid #278cff;
    background: linear-gradient(270deg, rgba(39, 140, 255, 0.164) 1%, rgba(0, 0, 0, 0.427) 100%);
}